#current-song {
  width: 25%;
  background-color: #1a1f2a;
  border-radius: 10px;

  &:hover {
    .bar {
      
      .playing-full-btn {
        opacity: 1;
        left: 5px;
      }

      a {
        position: absolute;
        margin-left: 30px;
      }

      .playing-song-actions {
        opacity: 1;
      }
    }
  }

  .bar {
    position: relative;
    width: 25%;
    padding: 0 15px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;

    .playing-full-btn {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      left: -10px;
      opacity: 0;
      transition-delay: 0.1s;
      cursor: pointer;

      &:hover {
        svg {
          fill: #dddada
        }
      }

      svg {
        width: 20px;
        height: 20px;
        fill: #b3b3b3;
      }
    }

    a {
      transition: all .3s;
      color: #fff;
      width: 200px;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* faqat 2 qator */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

    .playing-song-actions {
      display: flex;
      gap: 10px;
      opacity: 0;
      position: absolute;
      right: 22px;
      button {
        background-color: transparent;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #e6e5e52c;
        }

        svg {
          fill: #b3b3b3;
          width: 16px;
        }
      }
    }
  }
  .current-song-details {
    padding: 0 15px 0;
    margin-top: 60px;
    overflow-y: auto;
    height: calc(70vh - 60px);

    /* Scrollbar umumiy qismi */
    &::-webkit-scrollbar {
      width: 12px; /* vertical scroll uchun */
      height: 10px !important; /* horizontal scroll uchun */
    }

    /* Scrollbar track (fondi) */
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }

    /* Scrollbar thumb (harakatlanuvchi qismi) */
    &::-webkit-scrollbar-thumb {
      background: #4d4b4b;
    }

    /* Hover holatdagi thumb */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .song-img {
      width: 100%;
      height: 304px;
      animation: isNot 2s infinite;
      border-radius: 7px;

      @keyframes isNot {
        0% {
          background-color: #ff8d2373;
        }
        100% {
          background-color: #ff8e23;
        }
      }

      img {
        border-radius: 7px;
        width: 100%;
        object-fit: contain;
      }
    }

    .song-name {
      font-size: 22px;
      font-weight: 500;
      color: #fff;
      margin-top: 5px;
    }

    .song-author {
      color: #b3b3b3;
      font-size: 16px;
      font-weight: 500;
    }
  }
}


@media screen and (max-width: 749px) {
    #current-song {
        display: none;
    }
}