* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  font-family: var(--font-poppins);
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  outline: none;
}

*::selection {
  background-color: transparent;
}

/* styles.css */

#main-container {
  margin-top: 77px;
  .main-container-top {
    display: flex;
    margin: 7px;
    gap: 7px;
    min-height: 73vh;
    max-height: 73vh;
  }
  .main-container-bottom {
    margin: 7px;
    min-height: 12.7vh;
    max-height: 12.7vh;
    background-color: #1a1f2a;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
}

@media screen and (max-width: 749px) {
    #main-container {
      margin-top: 10;
        .main-container-bottom {
          display: none;
        }
    }
}

body {
  background-color: #10131c;

  .logo-light {
    display: none;
  }

  .not-found {
    color: #fff;
  }

  header {
    .header-container {
      .search {
        input {
          color: #fff;
        }
      }
    }
  }

  #name {
    a {
      color: #fff !important;
    }
  }
}

.save-login {
  height: unset !important;
  width: unset !important;
  display: unset !important;
}

.views {
  position: absolute;
  z-index: 20;
  top: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .series {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #0000004d;
    color: #f79623;
  }

  .count {
    background-color: #fff;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 5px;
    color: #10131c;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
